/* root-variables */

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
}
  
  .dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-shadow: 0 2rem 3rem var(--color-light);
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.products {
    display: grid;
    grid-template-rows: 20% 80%;
    align-items: center;
}

.product-search {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 1rem;
    padding-top: 5rem;
}

.product-search-bar {
    position: relative;
    border: 2px solid black;
    background-color: #D9D9D9;
    height: 40px;
    border-radius: 30px;
    margin-left: 10px;
    padding-top: 5px;
    padding-left: 0.5rem;
    text-align: center;
    justify-content: center;
}

.product-search-bar input {
    flex: 1;
    height: 35px;
    width: 73rem;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: black;
    padding-left: 30px;
}

.product-categories {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 30px;
    font-weight: 700;
    border-bottom: 2px solid black;
}

.product-category {
    cursor: pointer;
}

.product-category.active {
    color: darkblue;
}

.table3 {
    display: inline;
    position:absolute;
    z-index: 2;
    top: 230px;
    padding-left: 40px;
    overflow: scroll;
    height: 450px;
}

.product-table3 {
    position: relative;
    border-collapse: collapse;
    width: 1180px;
}

.product-table3 thead th, .product-table3 tbody td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 45px;
}

.product-table3 thead th {
    background-color: darkblue;
    color: white;
}

.product-table3 tbody tr:nth-child(even) {
    background-color: #D9D9D9;
}

.product-table3 tbody th:nth-child(even) {
    background-color: #896f6f;
}