*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.home-section {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 10px;
    align-items: center;
}

.section-A {
    display: grid;
    grid-template-rows: 10% 60% 30%;
    height: 87vh;
}

.home-search {
    display: grid;
    grid-template-columns: 85% 15%;
    width: 98%;
    margin: 0 auto;
    align-items: center;
}

.home-search-bar input {
    border: 2px solid black;
    border-radius: 20px;
    width: 93%;
    gap: 10px;
    padding: 10px;
    padding-left: 1.5rem;
    background-color: #D9D9D9;
}

.result-box {
    position: absolute;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    max-height: 200px; /* Optional: Add a max height with scroll */
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin-top: 250px;
    margin-left: 20px;
    z-index: 10;
}
  
.result-box li {
    padding: 10px 15px;
    cursor: pointer;
}
  
.result-box li:hover {
    background-color: #f0f0f0;
}

.btn-category {
    background-color: blue;
    color: white;
    border: 2px solid;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.home-product-info {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    height: 75vh;
}

.home-product-filters {
    display: grid;
    grid-template-columns: 12% 15% 15% 15% 15% 15%;
    border-bottom: 2px solid black;
}

.home-product-filters p {
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 10px;
}
 
.home-product-filters p:hover {
    color: blue;
}

.home-product-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
}

.product-box {
    display: grid;
    gap: 0.5rem;
    background-color: darkblue;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1rem;
    height: 150px;
    cursor: pointer;
}

.product-box-header {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}

.product-box-header h3 {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.product-box-description {
    display: flex;
    width: 100%;
}

.product-box-description p {
    color: white;
}

.product-box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    gap: 150px;
    color: white;
}

.product-box-footer p {
    font-size: 16px;
    font-weight: 600;
}

/* .product-box-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 15px;
    color: white;
}

.product-box-left h2 {
    font-size: 18px;
    font-weight: 700;
}

.product-box-left h3 {
    font-size: 40px;
    font-weight: 800;
}

.product-box-right {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.product-icon {
    font-size: 50px;
} */

/* .table1 {
    z-index: 2;
    overflow-y: scroll;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.home-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.home-table thead th, .home-table tbody td {
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 35px;

}

.home-table thead th {
    background-color: darkblue;
    color: white;
}

.home-table tbody tr:nth-child(even) {
    background-color: #D9D9D9;
}

.home-table tbody th:nth-child(even) {
    background-color: #896f6f;
} */

.delete-btn {
    color: red;
    cursor: pointer;
}

.section-B {
    display: grid;
    grid-template-rows: 20% 40% 40%;
    height: 87vh;
}

.payment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: darkblue;
}

.payment-header-text {
    color: white;
    font-size: 14px;
}

.local-mall {
    padding: 8px 8px 8px 10px;
    background: white;
    font-size: 50px;
    font-weight: 700;
    color: black;
    border-radius: 50%;
}

.product-list {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow: auto;
    background-color: #D9D9D9;
    border: 0px solid;
}

.product-list-details {
    display: grid;
    grid-template-columns: 18% 28% 20% 10% 5%;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
    align-items: center;
    background: darkgray;
    border-radius: 20px;
}

.product-name p{
    font-size: 14px;
    font-weight: 500;
}

.product-quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 8px;
}

.remove-icon {
    padding: 3px 3px 3px 3px;
    background: white;
    font-size: 16px;
    font-weight: 900;
    border-radius: 50%;
    cursor: pointer;
}

.plus-icon {
    padding: 3px 3px 3px 3px;
    background: white;
    font-size: 16px;
    font-weight: 900;
    border-radius: 50%;
    cursor: pointer;
}

.product-price p {
    font-size: 14px;
    color: black;
    font-weight: 500;
}

.percent-icon {
    padding: 8px 8px 8px 8px;
    background: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    color: darkblue;
    cursor: pointer;

}

.delete-icon {
    padding: 8px 8px 8px 8px;
    background: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    color: red;
    cursor: pointer;
}

.payment-footer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    color: white;
    padding-left: 10px;
    border: 0.5px solid;
    background-color: darkblue;
}

.place-pay {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.total-pay {
    display: flex;
    justify-content: space-between;
}

.discount-pay {
    display: flex;
    justify-content: space-between;
}

.tax-pay {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.sub-total-pay {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 2px solid white;
}

.pay {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 10px;
}

.pay-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    background-color: darkgray;
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 10px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
}

/* home eke popup eke css */

.payment-popup-overlay {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-popup {
    padding: 20px;
    border-radius: 10px;
    width: 900px;
    height: 500px;
    background-color: white;
    max-width: 90%;
    position: relative;
}

.payment-popup-header {
    justify-content: center;
}

.payment-popup-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 350px;
    margin-top: 10px;
}

.popup-close {
    background: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    position: absolute;
    top: 10px;
    right: 1px;
    cursor: pointer;
}

.popup-content {
    display: flex;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: darkblue;
    color: white;
    padding: 10px;
    gap: 15px;
    border-radius: 0 10px 10px 0;
    width: 270px;
}

.payment-methods div {
    font-weight: 700;
    padding: 10px 0;
    cursor: pointer;
    align-items: center;
}

.payment-methods div:hover {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.user-info {
    margin-top: 20px;
    font-weight: bold;
}

.user-info span {
    font-weight: normal;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    top: 120px;
    margin-bottom: 8px;
}

.field label {
    flex: 0 0 100px;
    text-align: right;
    margin-left: 20px;
}

.field input {
    flex: 1;
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 250px;
    border: 1px solid #CCC;
}

.completed-input {
    background: #D4EDDA;
}

.balance-input {
    background: #F8D7DA;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: end;
    margin-top: 20px;
    margin-left: -100px;

}

.cancel-btn, .done-btn {
    padding: 10px 30px;
    border: none;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background: #CCC;
}

.done-btn {
    background: darkblue;
    color: white;
}

/* Discount CSS Codes */
.discount-popup-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount-popup {
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    background-color: white;
    max-width: 90%;
    position: relative;
}

.discount-popup-close {
    background: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    position: absolute;
    top: 10px;
    right: 1px;
    cursor: pointer;
}

.discount-popup-header {
    justify-content: center;
}

.discount-popup-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 350px;
    margin-top: 10px;
}

.discount-popup-content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
  
.discount-popup-content-header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.discount-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.discount-type label {
    margin-top: 20px;
    font-weight: bold;
}

.discount-type input[type="radio"] {
    font-size: 16px;
    transform: scale(1.2);
    cursor: pointer;
}

.discount-amount input[type="number"] {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    width: 430px;
    border: 1px solid #CCC;
}

.discount-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15px;
    gap: 80px;
}
  
.discount-buttons .cancel-btn {
    background: #CCC;
}
  
.discount-buttons .done-btn {
    background: darkblue;
    color: white;
}
  
.discount-buttons button:hover {
    opacity: 0.9;
}