.home{
    display: grid;
    grid-template-columns: 150% 50%;
}

.search-bar {
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 2px solid black;
    width: 500px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    padding-bottom: 0.1rem;
    padding-left: 0.1rem;

}

.search {
    margin-top: 7px;
    margin-right: 450px;
    padding-left: 0.1rem;
}

.search-Bar {
    height: 10;
    border: 2px solid black;
    width: 430px;
    margin-left: 3rem;

}

.category {
    display: grid;
    grid-template-columns: 17%;
    justify-content: right;
    margin: -11%;
    margin-right: -25%;
    margin-top: -13%;
}

.btn-category {
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
}