/* root-variables */

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
}
  
  .dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-shadow: 0 2rem 3rem var(--color-light);
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

.home{
    display: grid;
    grid-template-columns: 65% 35%;
}

/* search bar */

/* sampurna search bar eka */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1rem;
}


/* search bar eka athule */
.search-Bar {
    border: 2px solid black;
    background-color: #D9D9D9;
    height: 40px;
    border-radius: 30px;
    margin-left: 10px;
    padding-top: 5px;
    text-align: center;
    justify-content: center;

}

.search-Bar input {
    flex: 1;
    height: 35px;
    width: 38rem;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: black;
    padding-left: 30px;
}

.category {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.btn-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px 15px;
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: initial;
    top: 140px;
    width: 110px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 5px;
}

.dropdown-item {
    padding: 12px 16px;
    cursor: pointer;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.dropdown-item:hover {
    background-color: #D9D9D9;
}

/* Table CSS */
.table1 {
    display: inline;
    position:absolute;
    z-index: 2;
    top: 180px;
    padding-left: 20px;
    overflow: scroll;
    height: 300px;
}

.product-table1 {
    position: relative;
    border-collapse: collapse;
}

.product-table1 thead th, .product-table1 tbody td {
    
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 45px;
}

.product-table1 thead th {
    background-color: darkblue;
    color: white;
}

.product-table1 tbody tr:nth-child(even) {
    background-color: #D9D9D9;
}

.product-table1 tbody th:nth-child(even) {
    background-color: #896f6f;
}

.delete-btn {
    color: red;
    cursor: pointer;
    padding-left: 25px;
}

/* Payment Section  */

.payment {
    display: grid;
    grid-template-rows: 27% 33% 47%;
    justify-content: center;
    margin: 5px;
    /* width: 400px; */

}

.payment-header {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: space-between;
    border: 1px solid ,darkblue solid;
    /* border-radius: 10px; */
    width: 385px;
    height: 125px;
    padding: 1rem;
    background-color: darkblue;
    color: white;
}

.local-mall {
    color: white;
    top: 120px;
    position: absolute;
    padding-left: 21rem;
    font-size: 50px;
}

.payment-list {
    display: grid;
    grid-template-rows:40% 20% 40%;
    justify-content: space-between;
    border: 0px solid;
    /* border-radius: 10px; */
    padding: 0.5rem;
    padding-left: 30px;
    /* overflow: scroll; */
    background-color: darkgray;
}

.p1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    margin: 20px;
    padding: 6px;
    width: 300px;
    border-radius: 50px;
    background-color: white;
}

.payment-footer {
    display: grid;
    grid-template-rows: 40% 50% 10%;
    justify-content: left;
    border: 0.5px solid ;
    /* border-radius: 10px; */
    background-color: darkblue;
    color: white;
}

.place-pay {
    display: flex;
    flex-direction: column;
    justify-content: right;
    color: white;
    padding-left: 10px;
    font-size: 10px;
    padding: 1rem;
    height: 200px;

}

.line {
    border-top: 2px solid white;
    margin-top: 30px;
}

.sub {
    color: red;
    font-size: 14px;
}

.pay {
    color: white;
    padding-left: 5rem;
    padding-top: 2rem;
    font-size: 14px;
}

.btn-payment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    background-color: darkgreen;
    border: none;
    border-radius: 15px;
    padding: 1rem;
}


/* home eke popup eke css */

.payment-popup-overlay {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-popup {
    padding: 20px;
    border-radius: 10px;
    width: 900px;
    height: 500px;
    background-color: white;
    max-width: 90%;
    position: relative;
}

.payment-popup-header {
    
    justify-content: center;
}

.payment-popup-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 350px;
    margin-top: 10px;
}

.popup-close {
    background: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    position: absolute;
    top: 10px;
    right: 1px;
    cursor: pointer;
}

.popup-content {
    display: flex;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: darkblue;
    color: white;
    padding: 10px;
    gap: 15px;
    border-radius: 0 10px 10px 0;
    width: 270px;
}

.payment-methods div {
    font-weight: 700;
    padding: 10px 0;
    cursor: pointer;
    align-items: center;
}

.payment-methods div:hover {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.user-info {
    margin-top: 20px;
    font-weight: bold;
}

.user-info span {
    font-weight: normal;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    top: 120px;
    margin-bottom: 10px;
}

.field label {
    flex: 0 0 100px;
    text-align: right;
    margin-left: 20px;
}

.field input {
    flex: 1;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 250px;
    border: 1px solid #CCC;
}

.completed-input {
    background: #D4EDDA;
}

.balance-input {
    background: #F8D7DA;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: end;
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: -100px;

}

.cancel-btn, .done-btn {
    padding: 10px 30px;
    border: none;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background: #CCC;
}

.done-btn {
    background: darkblue;
    color: white;
}