*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.home-section {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 10px;
    align-items: center;
}

.section-A {
    display: grid;
    grid-template-rows: 10% 60% 30%;
    height: 87vh;
}

.home-search {
    display: grid;
    grid-template-columns: 85% 15%;
    width: 98%;
    margin: 0 auto;
    align-items: center;
}

.home-search-bar input {
    border: 2px solid black;
    border-radius: 20px;
    width: 93%;
    gap: 10px;
    padding: 10px;
    padding-left: 1.5rem;
    background-color: #D9D9D9;
}

.btn-category {
    background-color: blue;
    color: white;
    border: 2px solid;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.table1 {
    z-index: 2;
    overflow-y: scroll;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.home-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.home-table thead th, .home-table tbody td {
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 35px;

}

.home-table thead th {
    background-color: darkblue;
    color: white;
}

.home-table tbody tr:nth-child(even) {
    background-color: #D9D9D9;
}

.home-table tbody th:nth-child(even) {
    background-color: #896f6f;
}

.delete-btn {
    color: red;
    cursor: pointer;
}

.section-B {
    display: grid;
    grid-template-rows: 20% 40% 40%;
    height: 87vh;
}

.payment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: darkblue;
}

.payment-header-text {
    color: white;
}

.local-mall {
    padding: 8px 8px 8px 10px;
    background: white;
    font-size: 50px;
    font-weight: 700;
    color: black;
    border-radius: 50%;
}

.payment-list {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    background-color: darkgray;
    padding-left: 15px;
    border: 0px solid;
}

.p1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 14px;
    margin: 20px;
    padding: 6px;
    padding-left: 10px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
}

.payment-footer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    color: white;
    padding-left: 10px;
    border: 0.5px solid;
    background-color: darkblue;
}

.place-pay {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.sub-total {
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 2px solid white;
    color: red;
}

.pay {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 10px;
}

.pay-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: darkgreen;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 1rem;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

/* home eke popup eke css */

.payment-popup-overlay {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-popup {
    padding: 20px;
    border-radius: 10px;
    width: 900px;
    height: 500px;
    background-color: white;
    max-width: 90%;
    position: relative;
}

.payment-popup-header {
    
    justify-content: center;
}

.payment-popup-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 350px;
    margin-top: 10px;
}

.popup-close {
    background: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    position: absolute;
    top: 10px;
    right: 1px;
    cursor: pointer;
}

.popup-content {
    display: flex;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: darkblue;
    color: white;
    padding: 10px;
    gap: 15px;
    border-radius: 0 10px 10px 0;
    width: 270px;
}

.payment-methods div {
    font-weight: 700;
    padding: 10px 0;
    cursor: pointer;
    align-items: center;
}

.payment-methods div:hover {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.user-info {
    margin-top: 20px;
    font-weight: bold;
}

.user-info span {
    font-weight: normal;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    top: 120px;
    margin-bottom: 10px;
}

.field label {
    flex: 0 0 100px;
    text-align: right;
    margin-left: 20px;
}

.field input {
    flex: 1;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 250px;
    border: 1px solid #CCC;
}

.completed-input {
    background: #D4EDDA;
}

.balance-input {
    background: #F8D7DA;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: end;
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: -100px;

}

.cancel-btn, .done-btn {
    padding: 10px 30px;
    border: none;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background: #CCC;
}

.done-btn {
    background: darkblue;
    color: white;
}