*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.setting-navbar {
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 10px;
    background-color: aquamarine;
}

.setting-navbar-buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 10px;
    height: 20px;
    border-bottom: 2px solid black;
    justify-content: space-around;

    /* background-color: bisque; */
}

.setting-navbar-buttons a {
    color: blue;
    font-size: 16px;
    font-weight: 445;
}

.setting-navbar-buttons a:hover {
    color: red;
    font-weight: 700;
}

/* User Settings CSS */

.user-settings {
    display: grid;
    grid-template-rows: 10% 90%;
}

.user-content {
    display: grid;
    grid-template-columns: 40% 60%;
}