/* root-variables */

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
}
  
  .dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-shadow: 0 2rem 3rem var(--color-light);
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

.sales {
    display: grid;
    grid-template-rows: 20% 30% 50%;
    align-items: center;
}

.sales-search {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 1rem;
    padding-top: 3rem;
}

.sales-search-Bar {
    position: relative;
    border: 2px solid black;
    background-color: #D9D9D9;
    height: 40px;
    border-radius: 30px;
    margin-left: 10px;
    padding-top: 5px;
    padding-left: 0.5rem;
    text-align: center;
    justify-content: center;
}

.sales-search-Bar input {
    flex: 1;
    height: 35px;
    width: 61rem;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: black;
    padding-left: 30px;
}

.sales-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.btn-order {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px 15px;
    cursor: pointer;
}

.sales-detail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 5rem;
    padding-top: 1rem;
    padding-left: 2rem;
    margin-right: 3rem;
    
}

.sales-box {
    position: relative;
    display: flex;
    justify-content: left;
    border: 2px solid black;
    width: 16.4rem;
    height: 10rem;
    padding: 10px;
    text-align: center;
    padding: 0.5rem;
    background-color: darkblue;
    cursor: pointer;
}

.sales-box h2 {
    position: absolute;
    text-align: left;
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: 800;
    padding: 10px;
    padding-right: 2rem;
}

.sales-box h3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 70px;
    font-size: 50px;
    color: white;
    padding: 10px;
    padding-right: 1rem;
}

.active-icon1 {
    position: absolute;
    font-size: 50px;
    color: white;
    top: 90px;
    left: 12.5rem;
}

.active-icon2 {
    position: absolute;
    font-size: 50px;
    color: white;
    top: 90px;
    left: 12.5rem;
}

.active-icon3 {
    position: absolute;
    font-size: 50px;
    color: white;
    top: 90px;
    left: 12.5rem;
}

.active-icon4 {
    position: absolute;
    font-size: 50px;
    color: white;
    top: 90px;
    left: 12.5rem;
}