/* root-variables */

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
}
  
  .dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-shadow: 0 2rem 3rem var(--color-light);
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

.sales {
    display: grid;
    grid-template-rows: 20% 30% 50%;
    align-items: center;
    margin: 10px;
}

.sales-search {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 1rem;
    padding-top: 1rem;
}

.sales-search-Bar {
    position: relative;
    border: 2px solid black;
    background-color: #D9D9D9;
    height: 40px;
    border-radius: 30px;
    padding-top: 5px;
    padding-left: 0.5rem;
    text-align: center;
    justify-content: center;
}

.sales-search-Bar input {
    flex: 1;
    height: 35px;
    width: 61rem;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: black;
    padding-left: 30px;
}

.sales-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.btn-order {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px 15px;
    bottom: -1.5rem;
    width: 150px;
    cursor: pointer;
}

.sales-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 5rem;
}

.sales-box {
    background-color: darkblue;
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 1rem;
    height: 100px;
    border-radius: 30px;
    padding: 1rem;
}

.sales-box h2 {
    text-align: left;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    padding-right: 2rem;
}

.sales-box h3 {
    display: flex;
    flex-direction: row;
    top: 10px;
    font-size: 40px;
    color: white;
    padding: 5px;
    padding-right: 1rem;
}

.active-icon {
    color: white;
    font-size: 50px;
    position: relative;
    top: 30px;
    left: 30px;
}

.sales-info {
    display: grid;
    grid-template-columns: 13% 13% 13% 13%;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-left: 1.5rem;
}

.sales-info p {
    cursor: pointer;
    font-weight: 600;
}

.sales-info p:hover {
    color: blue;
}

.table2 {
    display: inline;
    position:absolute;
    z-index: 2;
    top: 380px;
    overflow: scroll;
    border-radius: 10px;
    height: 320px;
}

.sales-table {
    position: relative;
    border-collapse: collapse;
    width: 73.5rem;
}

.sales-table thead th, .sales-table tbody td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 35px;
}

.sales-table thead th {
    background-color: darkblue;
    color: white;
}

.sales-table tbody tr:nth-child(even) {
    background-color: #D9D9D9;
}

.sales-table tbody th:nth-child(even) {
    background-color: #896f6f;
}

.fulfil-dropdown {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
    background: darkblue;
    color: white !important;
}

.fulfil-dropdown option {
    background-color: white;
    color: black;
    padding: 10px;
}

.fulfil-dropdown option[value="Shipped"] {
    background-color: orange;
    color: white;
}

.fulfil-dropdown option[value="Delivered"] {
    background-color: green;
    color: white;
}

.fulfil-dropdown option[value="Cancelled"] {
    background-color: red;
    color: white;
}

.fulfil-dropdown option[value="Returned"] {
    background-color: purple;
    color: white;
}